* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
}
.header {
  position: relative;
  top: 40px;
}

.header .podnaslov {
  position: relative;
  top: 15px;
  font-size: 15px;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.prvakartica img {
  width: 900px;
}
.unknow {
  background-color: black;
  color: white;
}

.prvakartica {
  box-shadow: 0 0 20px -10px;
  width: 900px;
  height: 500px;
  position: relative;
  top: 100px;
  left: 70px;
  display: block;
  box-sizing: inherit;
}

.naslov {
  padding: 10px;
}

.deskripcija {
  padding: 10px;
  position: relative;
  bottom: 5px;
}
.paragraf {
  padding: 10px;
}
.button {
  position: relative;
  left: 10px;
  top: 20px;
}
.button:hover {
  background-color: #cccccc ;
}
a {
  border: 1px solid black;
  text-decoration: none;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  color: black;
}
.comment {
  float: right;
  padding: 10px;
  position: relative;
  right: 60px;
}
.comment,
span {
  padding: 5px;
}

.comments{
  background-color: black;
  color: white;
}

.commennts1{
  border-radius: 50%;
  background-color: black;
  color: white;
}

.drugakartica {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 20px -10px;
  display: inline-block;
  float: right;
  position: relative;
  bottom: 400px;
  right: 110px;
}

.container2 {
  position: relative;
  top: 100px;
}
.prvakartica1 {
  box-shadow: 0 0 20px -10px;
  width: 900px;
  height: 500px;
  position: relative;
  top: 50px;
  left: 70px;
  display: block;
  box-sizing: inherit;
}
.prvakartica1 img {
  width: 900px;
}

.container3 {
  width: 400px;
  height: 373px;
  box-shadow: 0 0 20px -10px;
  display: inline-block;
  float: right;
  position: relative;
  bottom: 460px;
  right: 110px;
}

.popular {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 15px;
  background-color: #f1f1f1;
}

.lista img {
  width: 50px;
  padding: 15px;
  float: left;
}

.lista li {
  list-style: none;
}

}
.lista {
 height: 100px;
}
.lista:hover {
  background-color: #cccccc;
}

.span1{
  position: relative;
  top: 22px;
}
.span2{
  position: relative;
  top: 22px;
  
}
li{
  height: 80px;
}

.container4{
  width: 400px;
  height: 200px;
  box-shadow: 0 0 20px -10px;
  display: inline;
  float: right;
  position: relative;
  bottom: 50px;
  left: 290px;
}

.travel{
  background-color: black;
  color: white;
  padding: 5px;
  position: absolute;
  top: 65px;
  left: 15px;
}

.other{
  background-color: #f1f1f1;
  position: absolute;
  font-size: 12px;
  top: 68px;
  left: 75px;
}

.london{
  background-color: #f1f1f1;
  position: absolute;
  font-size: 12px;
  top: 68px;
  left: 140px;
}

.ikea{
  background-color: #f1f1f1;
  position: absolute;
  font-size: 12px;
  top: 68px;
  left: 195px;
}

.fotter{
  width: 100%;
  height: 170px;
  background-color: #616161;
  position: relative;
  top: 205px;
}

.button3{
  background-color: #444444;
  color: white;
  position: relative;
  top: 45px;
  left: 15px;
  padding: 15px 20px;
}

.button3:hover{
  background-color: #818181;

}

.button4{
  background-color: rgb(0, 0, 0);
  color: white;
  position: relative;
  top: 45px;
  left: 15px;
  padding: 15px 20px;
}

.button4:hover{
  background-color: #cccccc;

}