* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 40%;
  height: 70vh;
  margin: 10rem auto;
}

.head {
  width: 100%;
}

h3,
p {
  text-align: center;
}

p {
  color: #4b5563;
}

h3 {
  font-size: 30px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f9f9fa;
  border: 1px solid #d1d5db;
}

label {
  padding: 5px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.name,
.email {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 20vh;
  border-radius: 5px;
  border: none;
  background-color: #f9f9fa;
  border: 1px solid #d1d5db;
}

.fotter {
  padding: 10px;
}

#button1 {
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}

#button1:hover {
  background-color: #4f46e5;
}

#button {
  text-align: center;
}
